@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'Inter';
  
    font-display: swap;
    src: url('~/assets/fonts/inter-regular.woff') format('woff'),
         url('~/assets/fonts/inter-regular.woff2') format('woff2');
}

@theme static {
    /* Colors */
    --white: #ffff;
    --black: #101010;
    --lightblack: #232323;
    --grey: #868686;
    --lightgrey: #f3f3f3;
    --mutedgrey: #e8e8e8;
    --lime: #9effbf;
    --lilac: #7941a7;
    --lightlilac: #e2beff;
    --blue: #1059C8;

    --color-lilac: var(--lilac);
    --color-lilac-400: var(--lightlilac);
    --color-lightblack: var(--lightblack);
    --color-grey: var(--grey);
    --color-mutedgrey: var(--mutedgrey);
    --color-lightgrey: var(--lightgrey);

    --ui-primary: var(--black);
    --ui-secondary: var(--lightlilac);
    --ui-success: var(--lime);
    --ui-info: var(--blue);

    --ui-bg-elevated: var(--lightgrey);
    --ui-bg-accented: var(--mutedgrey);
    --ui-bg-inverted: var(--lightblack);

    --ui-text: var(--black);
    --ui-text-muted: var(--lightblack);
    --ui-text-highlighted: var(--grey);
    --ui-text-inverted: var(--lightgrey);
    
    --ui-border-accented: var(--lightgrey);

    /* Sizes */
    --ui-container: 90rem;

    /* Font */
    --font-sans: 'Inter';
}

:root {
    scroll-behavior: smooth;
}

.dark {
    --ui-primary: var(--white);
    --ui-secondary: var(--lilac);

    --ui-bg: var(--black);
    --ui-bg-elevated: var(--lightblack);
    --ui-bg-accented: var(--black);
    --ui-bg-inverted: var(--lightgrey);

    --ui-text: var(--white);
    --ui-text-muted: var(--mutedgrey);
    --ui-text-highlighted: var(--grey);
    --ui-text-inverted: var(--lightblack);

    --ui-border-accented: var(--lightblack);
}